body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
    margin: 0;
}
.wrapper { 
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    margin: 0; /* Remove the default margin */
    padding: 20px 0; /* Add padding to create space */
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    text-decoration: none; /* Remove default link styles */
    color: #333; /* Text color for the card */
    display: block; /* Allow the anchor tag to take the full space of the card */
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.project-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.project-screenshot {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}